<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mf.mall.coupon.mapper.CouponMapper">
    <resultMap id="BaseResultMap" type="com.mf.mall.coupon.model.CouponDO">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="with_amount" jdbcType="DECIMAL" property="withAmount" />
        <result column="used_amount" jdbcType="DECIMAL" property="usedAmount" />
        <result column="quota" jdbcType="BIGINT" property="quota" />
        <result column="take_count" jdbcType="BIGINT" property="takeCount" />
        <result column="used_count" jdbcType="BIGINT" property="usedCount" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <insert id="insertCoupon" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.mf.mall.coupon.model.CouponDO">
        insert into `mall_coupon`.t_coupon
        (
            title,
            with_amount,
            used_amount,
            quota,
            take_count,
            used_count,
            status
        )
        values
        (
            #{title},
            #{withAmount},
            #{usedAmount},
            #{quota},
            #{takeCount},
            #{usedCount},
            #{status}
        )
    </insert>
    <update id="updateCouponTakeCount" parameterType="com.mf.mall.coupon.model.CouponDO">
        update `mall_coupon`.t_coupon set take_count = #{takeCount} where id = #{id}
    </update>
    <select id="selectCouponById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from `mall_coupon`.t_coupon
    </select>
</mapper>
